.App {
  text-align: center;
}

.App__header {
  background-color: #222;
  height: 20px;
  padding: 10px;
  color: white;
  text-align: right;
}

.App__selections {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .App__selections {
    display: inline-block;
  }
}
