.Checkout {
  margin: 5px;
  padding: 5px;
  width: 80%;
  max-width: 400px;
  text-align: right;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.Checkout__header {
  text-align: left;
  padding: 0;
  margin: 0;
}

.Checkout__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Checkout__itemPrice {
  width: 120px;
  display: inline-block;
}

.Checkout__itemPrice--discountApplied {
  font-weight: bold;
}

.Checkout__total {
  margin-top: 5px;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .Checkout {
    width: 300px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
  }
}
